[mysqld]
datadir = ./mysql_db
pid_file = ./mysql.pid
bind-address = 127.0.0.1
port = 10101
innodb_buffer_pool_load_at_startup = Off
socket = /tmp/amp_mysql_db_test.sock

[client]
socket = /tmp/amp_mysql_db_test.sock
