sudo: false

language: php

services:
  - mysql

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

jobs:
  include:
    - stage: test
      addons:
         mariadb: 10.1
      php: '7.0'
    - addons:
         mariadb: 10.2
      php: '7.0'
    - addons:
         mariadb: 10.3
      php: '7.0'
    - addons:
         mariadb: 10.1
      php: '7.1'
    - addons:
         mariadb: 10.2
      php: '7.1'
    - addons:
         mariadb: 10.3
      php: '7.1'
    - addons:
         mariadb: 10.1
      php: '7.2'
    - addons:
         mariadb: 10.2
      php: '7.2'
    - addons:
         mariadb: 10.3
      php: '7.2'
    - addons:
         mariadb: 10.3
      php: 'nightly'
    - stage: benchmark
      php: '7.2'
      env:
        - AMP_DEBUG=false
      script:
        - PATH=$PATH:$(pwd)/benchmarks/bin vendor/bin/phpbench run --report=aggregate
  allow_failures:
    - php: 'nightly'
    - addons:
         mariadb: 10.3
      php: 'nightly'
  fast_finish: true

env:
  - AMP_DEBUG=true

install:
  - composer update -n --prefer-dist
  - wget https://github.com/php-coveralls/php-coveralls/releases/download/v1.0.2/coveralls.phar
  - chmod +x coveralls.phar
  - mysqld --version

before_script:
  - echo '<?php $autoloader = require(__DIR__."/../vendor/autoload.php"); const DB_HOST = "localhost"; const DB_USER = "root"; const DB_PASS = "";' > test/bootstrap.php
  - mysql -u root -e "SELECT VERSION(); CREATE DATABASE test; CREATE TABLE test.main (a INT(11), b INT(11)); INSERT INTO test.main VALUES (1, 2), (2, 3), (3, 4), (4, 5), (5, 6);"

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover build/logs/clover.xml
  - PHP_CS_FIXER_IGNORE_ENV=1 php vendor/bin/php-cs-fixer --diff --dry-run -v fix

after_script:
  - ./coveralls.phar

cache:
  directories:
    - $HOME/.composer/cache
